[Unit]
Description=Guacd Docker
Requires=docker.service
Before=guacmole-docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
ExecStartPre=-/usr/bin/docker kill {{ guacd_container_name }}
ExecStart=/usr/bin/docker start -a {{ guacd_container_name }}
ExecStop=/usr/bin/docker stop {{ guacd_container_name }}
ExecReload=/usr/bin/docker restart {{ guacd_container_name }}

[Install]
WantedBy=multi-user.target