[Unit]
Description=Guacamole App
Requires=docker.service guacamole-db.service guacd.service
After=docker.service guacamole-db.service guacd.service
[Service]
Restart=always
RestartSec=3
ExecStartPre=-/usr/bin/docker kill {{ guac_container_name }}
ExecStart=/usr/bin/docker start -a {{ guac_container_name }}
ExecStop=/usr/bin/docker stop {{ guac_container_name }}
ExecReload=/usr/bin/docker restart {{ guac_container_name }}

[Install]
WantedBy=multi-user.target