[Unit]
Description=VPN Client Docker
RequiresMountsFor={{ vpn_client_dir }}
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
ExecStartPre=-/usr/bin/docker kill {{ vpn_client_container_name }}
ExecStart=/usr/bin/docker start -a {{ vpn_client_container_name }}
ExecStop=/usr/bin/docker stop {{ vpn_client_container_name }}
ExecReload=/usr/bin/docker restart {{ vpn_client_container_name }}

[Install]
WantedBy=multi-user.target