[Unit]
Description=Plex Docker
RequiresMountsFor={{ plex_dir }}
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
ExecStartPre=-/usr/bin/docker kill {{ plex_container_name }}
ExecStart=/usr/bin/docker start -a {{ plex_container_name }}
ExecStop=/usr/bin/docker stop {{ plex_container_name }}
ExecReload=/usr/bin/docker restart {{ plex_container_name }}

[Install]
WantedBy=multi-user.target