[Unit]
Description=Portainer Docker
RequiresMountsFor={{ portainer_dir }}
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
ExecStartPre=-/usr/bin/docker kill {{ portainer_container_name }}
ExecStart=/usr/bin/docker start -a {{ portainer_container_name }}
ExecStop=/usr/bin/docker stop {{ portainer_container_name }}
ExecReload=/usr/bin/docker restart {{ portainer_container_name }}

[Install]
WantedBy=multi-user.target