[Unit]
Description=Nextcloud DB Docker
RequiresMountsFor={{ nextcloud_dir }}
Requires=docker.service
Before=nextcloud-docker.service
After=docker.service

[Service]
Restart=always
RestartSec=3
ExecStartPre=-/usr/bin/docker kill {{ nextcloud_db_container_name }}
ExecStart=/usr/bin/docker start -a {{ nextcloud_db_container_name }}
ExecStop=/usr/bin/docker stop {{ nextcloud_db_container_name }}
ExecReload=/usr/bin/docker restart {{ nextcloud_db_container_name }}

[Install]
WantedBy=multi-user.target