[Unit]
Description=Nginx Docker
RequiresMountsFor={{ nginx_dir }}
Requires=docker.service network.target
After=docker.service network.target

[Service]
Restart=always
RestartSec=3
ExecStartPre=-/usr/bin/docker kill {{ nginx_container_name }}
ExecStart=/usr/bin/docker start -a {{ nginx_container_name }}
ExecStop=/usr/bin/docker stop {{ nginx_container_name }}
ExecReload=/usr/bin/docker restart {{ nginx_container_name }}

[Install]
WantedBy=multi-user.target